* {
  background-color: black;
  color: rgb(220, 213, 200);
  text-align: center;
}


body {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}


button {
  border-radius: 1rem;
  margin: 1rem;
  padding: 1rem;
}


div {
  border: thin outset rgb(85, 0, 255);
  border-radius: 1rem;
}


h1, h2 {
  display: inline-block;
}


#root {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}


.chart.container {
  position: relative;
  display: block;
  min-width: 95vw;
  min-height: 50%;
}

.chart.container canvas {
  position: relative;
  width: 100%;
  height: 100%;
}


.heart.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  max-width: 50%;
}


.heart.rate {
  position: relative;
  display: inline-block;
  width: 12rem;
  height: 12rem;
  left: 50%;
  transform: translate(-50%);
  border-width: thin;
  border-style: dotted;
  border-color: rgb(255, 208, 192);
  font-size: 5rem;
}

.heart.rate.highlight {
  border-style: dashed;
}

.heart.rate > img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
}

.heart.rate > .text {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -60%);
  text-align: center;
  vertical-align: middle;
  font-weight: 900;
  background-color: transparent;
}

.heart.rate > .text.high {
  font-size: 6rem;
}

.heart.rate > .text.low {
  font-size: 4rem;
}


.location.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  max-width: 50%;
}


.settings.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  padding: 1rem;
}

.settings.container label {
  font-size: larger;
  padding: 1rem;
}